In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
# a panda library to deal with timeseries data
from datetime import datetime

In [4]:
my_year = 2000
my_month = 7
my_day = 21
my_hour = 17
my_minute = 15
my_second = 10

In [5]:
my_date = datetime(my_year, my_month, my_day)

In [6]:
my_date

datetime.datetime(2000, 7, 21, 0, 0)

In [8]:
my_datetime = datetime(my_year, my_month, my_day, my_hour, my_minute, my_second)

In [9]:
my_datetime

datetime.datetime(2000, 7, 21, 17, 15, 10)

In [10]:
type(my_datetime)

datetime.datetime

In [12]:
my_datetime.month

7

In [13]:
# create a list of two datetime objects
first_two = [datetime(2001,9,11), datetime(2001,9,12)]

In [14]:
first_two

[datetime.datetime(2001, 9, 11, 0, 0), datetime.datetime(2001, 9, 12, 0, 0)]

In [15]:
type(first_two)

list

In [16]:
# can create an index using the two dates in the list
dt_ind = pd.DatetimeIndex(first_two)

In [17]:
# now that it's been converted to an index, it shows up differently from variable first_two
dt_ind

DatetimeIndex(['2001-09-11', '2001-09-12'], dtype='datetime64[ns]', freq=None)

In [18]:
# instead of just a simple list, it's now a DatetimeIndex
type(dt_ind)

pandas.core.indexes.datetimes.DatetimeIndex

In [19]:
# make a random 2 x 2 array
data = np.random.randn(2,2)
data

array([[-0.28018574, -0.78903159],
       [-1.98696941, -0.05902231]])

In [20]:
cols = ['a', 'b']

In [21]:
# construct a dataframe with the elements -- expected parameters({data}, {index}, {columns})
df = pd.DataFrame(data, dt_ind, cols)

In [22]:
# this type of dataframe will be a very common format for financial data whereby the index is the time series date
# and the columns are financial data such as closing stock values
df

                   a         b
2001-09-11 -0.280186 -0.789032
2001-09-12 -1.986969 -0.059022

In [25]:
# finds the maximum value in the index and returns the row number
df.index.argmax()

1

In [26]:
# returns the maximum value in the index
df.index.max()

Timestamp('2001-09-12 00:00:00')