## Data Input and Output

In [1]:
import pandas as pd
import numpy as np

In [2]:
pwd

'/home/rthomas/Dropbox/Edu/Python-for-Finance-Repo-master/03- General Pandas'

In [3]:
ls

01-Introduction-to-Pandas.ipynb
02-Series.ipynb
03-DataFrames.ipynb
04-Missing-Data.ipynb
05-Groupby.ipynb
06-Merging-Joining-and-Concatenating.ipynb
07-Operations.ipynb
08-Data-Input-and-Output.ipynb
example
Excel_Sample.xlsx
multi_index_example
Pandas-Exercises/
RT-DataFrames3MissingValuesGroupByJoins.html
RT-DataFrames3MissingValuesGroupByJoins.ipynb
RT-Operations.html
RT-Operations.ipynb
RT-SeriesAndDataFrames1and2.html
RT-SeriesAndDataFrames1and2.ipynb
Untitled.ipynb

In [4]:
pd.read_csv('example')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [5]:
# can import Excel files but only data not formulas or macros
pd.read_excel('Excel_Sample.xlsx')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [6]:
# put the csv file into a dataframe
df = pd.read_csv('example')
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [7]:
# in the same way that you can read from files, you can write to files  <Shift><Tab> after df.to_ brings up list
# make index=False to avoid writing the index into the file
df.to_csv('RT_example', index=False)

In [9]:
pd.read_csv('RT_example')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [12]:
# can name the individual sheet to read from within an Excel file
pd.read_excel('Excel_Sample.xlsx', )

TypeError: read_excel() got an unexpected keyword argument `sheetname`